*{
    margin: 0;
    padding: 0;
    font-family: Poppins;

}

.form__outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}
.nav{
        position: fixed;
        height: 50px;
        top: 0;
        width: 100%;
        padding : 20px 0px 0px 80px;
        background: white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        font-weight: 300;
        font-size: 24px;
        
}
.form__container{
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns:  repeat(2,1fr);
    border-radius: 12px;
    background-color: #f5f5f5;
    padding:30px;
    column-gap: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
}

.form__btn{
    column-gap: 20px;
    grid-template-columns: repeat(2,1fr);
}
label{
    font-size: 22px;
    
}

.pad{
    padding-left: 30px;
}

input{
    width: 350px;
    padding: 10px;
    margin: 8px 0px 30px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

select{
    width: 370px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
        margin: 8px 0px 30px 0px;

}
.move{
    margin-left: 320px;
    background-color: transparent;
    border: 2px solid #d8433c;
    color: #d8433c;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    
}

.move2{
    background-color: #d8433c;
    color: white;
    border-radius: 20px;
    border: 2px solid #d8433c;
    width: 100px;
    height: 40px;
    margin-right: 320px;
    font-weight: bold;
}

