 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins';
    }
    .nav{
        position: fixed;
        height: 66px;
        top: 0;
        width: 100%;
        padding: 8px 0px;
        background: white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        
    }
    .nav__con{
        max-width: 1320px;
        height: 50px;
        margin: auto;
        padding: 0px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .im__s{
        height: 40px;
        width: 150px;
        object-fit: contain;
    }
    .im__s1{
        height: 600px;
        width:400px;
        object-fit: cover;
        border-image: 30px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid gainsboro;
        border-radius: 0px 30px 30px 0px;
        display: block;

    }
    .lang{
        list-style: none;
        display: flex;
        gap:8px;
    }
    .red{
        background-color: red;
        color: white;
        padding: 10px 6px ;
    }
    .main__div{
        min-height: 100vh;
        padding-top: 110px;
        display: flex;
        align-items: top;
        justify-content: center;
       
    }
    .form__div{
        height: 600px;
        width:400px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid gainsboro;
        border-radius: 30px 0px 0px 30px;
        


    }
    .form__div1{
        height: 420px;
        width: 400px;
    }
    .label_f{
        font-size: 16px;
        margin : 0px 0px 8px;
        height: 24px;
        width:200px;
        padding-left: 40px;
    }
    .input_f{
        padding: 6px 12px;
        height: 40px;
        width: 320px;
        margin: 10px 0px 10px 40px;
        border-radius: 8px;
        border: 1px solid gainsboro;
    }

    .input_f:focus{
        border-width: 3.8px;
        border-color: hsl(207, 85%, 80%);
        outline: none;
        
    }
    .form-check-input{
        margin: 10px 0px 10px 40px;
        border-radius: 8px;

    }
    .btn{
        height: 40px;
        width: 320px;
        border-radius: 8px;
        border: 1px solid transparent;
        color: white;
        font-size: 18px;
        margin:20px 0px 20px 40px;

    }
    .mov{
         margin:0px 0px 20px 90px;
         font-size: 16px;

    }
    .text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 28px;
    font-weight: bolder;
    }
    .text1 {
    position: absolute;
    top: 70px;
    left: 20px;
    color: white;
    font-size: 16px;
    font-weight: bolder;

    }
    footer{
        left:0;
        bottom: 0;
        text-align: center;
        padding: 8px;
        margin-top: 20px;
        position: fixed;
        color: white;
        background-color: #D20F19;
        width: 100%;
    }